<h1> hello</h1>


    <table>
      <thead>
      <td>Width</td>
      <td>Height</td>
      <td>Price</td>
      </thead>

      <tr>
        <td>
          <%= @pricelist.width %>
        </td>
        <td>
          <%= @pricelist.height %>
        </td>
        <td>
          <%= @pricelist.price %>
        </td>
        <td>
        </td>
      </tr>

    </table>

