<div class="container page-content">
  <div class="hero row">
    <%= render 'layouts/frontpage_slider' %>
  </div><!--end hero-->

  <div class="row">
    <div class="black_bar"></div>
  </div>

</div><!--end container-->