<div class="container page-content">
  <div id="hero-container-super" class="transparent">
    <div class="container">
      <div class="row">
        <div id="hero-text-block" class="onwhite">
          <h1>Pricing</h1>
          <p class = "hero-text-byline">
            Check out our 'no surprises' pricing grid below.
          </p>
        </div>
      </div>
    </div>
  </div>

  <table id = "price-table" class="table table-striped uppercase" style="width: auto">
    <thead>
    </thead>

    <tbody>
    <tr class="odd">
      <td class="size-column">8 x 10</td>
      <td class="price-column"><a href="">$49</a></td>
    </tr>
    <tr class="even">
      <td class="size-column">12 x 12</td>
      <td class="price-column"><a href="">$65</a></td>
    </tr>
    <tr class="odd">
      <td class="size-column">12 x 16</td>
      <td class="price-column"><a href="">$69</a></td>
    </tr>
    <tr class="even">
      <td class="size-column">12 x 18</td>
      <td class="price-column"><a href="">$93</a></td>
    </tr>
    <tr class="odd">
      <td class="size-column">16 x 20</td>
      <td class="price-column"><a href="">$99</a></td>
    </tr>
    <tr class="even">
      <td class="size-column">20 x 20</td>
      <td class="price-column"><a href="">$114</a></td>
    </tr>
    <tr class="odd">
      <td class="size-column">16 x 24</td>
      <td class="price-column"><a href="">$114</a></td>
    </tr>
    <tr class="even">
      <td class="size-column">18 x 24</td>
      <td class="price-column"><a href="">$119</a></td>
    </tr>
    <tr class="odd">
      <td class="size-column">20 x 24</td>
      <td class="price-column"><a href="">$139</a></td>
    </tr>
    <tr class="even">
      <td class="size-column">20 x 30</td>
      <td class="price-column"><a href="">$149</a></td>
    </tr>
    <tr class="odd">
      <td class="size-column">24 x 36</td>
      <td class="price-column"><a href="">$179</a></td>
    </tr>
    <tr class="even">
      <td class="size-column">36 x 36</td>
      <td class="price-column"><a href="">$245</a></td>
    </tr>

    </tbody>

  </table>
</div><!--end container-->