$font-stack: "Helvetica Neue",Helvetica,Arial,sans-serif;
$primary-color: #33FF66;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}