<footer id="footer-supercontainer">
  <div id="footer">
    <div id="footer-container">
      <div id = "footer-container-overlay">
        <div id="container">
          <div class = "row footer-navigation">
            <div class = "col-md-3">
              <h5 class="uppercase">About us</h5>
              <ul>
                <li><a href="">About Canvas Day</a></li>
                <li><a href="">Contact us</a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
              </ul>
            </div>
            <div class = "col-md-3">
              <h5 class="uppercase">Products</h5>
              <ul>
                <li><a href="">Prices</a></li>
                <li><a href="">Why choose us?</a></li>
              </ul>
            </div>
            <div class = "col-md-3">
              <h5 class="uppercase">Create & Order</h5>
              <ul>
                <li><a href="">Create your canvas</a></li>
                <li><a href="">Checkout</a></li>
                <li><a href="">Register</a></li>
              </ul>
            </div>
            <div class = "col-md-3">
              <h5 class="uppercase">Affiliates & Partners</h5>
              <ul>
                <li><a href="">Partners</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>